.entry {
	padding: 2px 10px 2px 10px; 
	background: #eef;
	border: 1px solid #dde;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.times {
	padding: 0px 10px 0px 10px; 
	background: #f4f4f;
	border-bottom: 1px solid #eef;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.MISSING {
	border: 1px solid red;
	padding: 3px 0 3px 12px;
}
.BADFORMAT {
	border: 1px solid #ff5500;
	padding: 3px 0 3px 12px;
}
.BADVALUE {
	background-color: #ffbbbb;
	padding: 3px 0 3px 12px;
}
.bgred {
	background: #ffdddd;
	border: 1px solid #eebbbb;
	padding: 3px 0 3px 12px;
}
.bggreen {
	background: #ddffdd; 
	border: 1px solid #bbeebb;
	padding: 3px 0 3px 12px;
}
.bgblue {
	background: #ffdddd; 
	border: 1px solid #eebbbb;
	padding: 3px 0 3px 12px;
}
.actions {
	padding: 3px 0 3px 20px; 
	width: 67%; 
	background: #def;
	border: 1px solid #ced;
}
.notifs {
	padding: 3px 0 3px 20px; 
	width: 67%; 
	background: #fed; 
	border: 1px solid #edc;
}
.models {
	padding: 3px 0 3px 20px; 
	width: 67%; 
	background: #fcf;
	border: 1px solid #ebe;
}
.conts {
	padding: 3px 0 3px 20px; 
	width: 67%; 
	background: #cff; 
	border: 1px solid #bee;
}
.views {
	padding: 3px 0 3px 20px; 
	width: 67%; 
	background: #ffc; 
	border: 1px solid #eeb;
}
