/* Colors */
.n5 , ._n5 {	background: #ff7733;} .n4 , ._n4 {	background: #eeaa34;} .n3 , ._n3 {	background: #ffff33;} .n2 , ._n2 {	background: #aadd88;} .n1 , ._n1 {	background: #55bbdd;} .medit , ._medit {	background: #bbaacc;} /*--- Common stuff */
@media screen and (max-width: 767px) {
  .wpytt-table-sm {
    display: block;
  }
  .wpytt-table-lg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .wpytt-table-sm {
    display: none;
  }
  .wpytt-table-lg {
    display: block;
  }
  .tt-controls-row {
    padding: 4px;
    font-size: 13px;
  }
}
.tt-resp-day {
  padding: 4px 20px;
  background: #f4f4f4;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 1.1rem;
  color: #555;
}
.tt-tarif-table {
  margin-bottom: 1.2rem;
}
.tt-resp-tarif-rowhead {
  padding: 4px 20px;
  background: #f4f4f4;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  color: #555;
}
.tt-resp-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.tt-resp-row {
  display: table-row;
  border-bottom: 1px solid #ddd;
  margin: 5px 0;
}
.tt-resp-1-3,
.tt-resp-1-5,
.tt-resp-2-5 {
  display: table-cell;
  box-sizing: border-box;
  text-align: center;
  padding: 2px 0;
}
.tt-resp-1-3 {
  width: 33%;
}
.tt-resp-1-5 {
  width: 26%;
}
.tt-resp-2-5 {
  width: 37%;
}
.tt-resp-2-5.prof {
  vertical-align: middle;
}
.event-start,
.event-end {
	display:block;
}
.class-text {
	margin-top: 2px;
	/*text-align: middle;*/
}
.tt-checkbox {
	position: relative;
  margin-right: 6px;
}
.hiddenelem {
	visibility: hidden;
}
.visibleeelem {
	visibility: visible;
}
.dispnoneelem {
	display:none;
}
.dispnormelem {
	display:block;
}
/*--- TableControls */
.tabcontniv {
	padding: 1px 20px 1px 5px;
	margin-right: 1px;
	text-align: left;
	border-radius: 2px;
}
/*--- Box style */
.nivbox {
	padding: 2px 10px 2px 10px;
	margin: 6px 0 2px 0;
	text-align: left;
	border-radius: 2px;
}
/*--- Vertical-specific stuff */
.vtt-box {
	background: white;
	color: black;
	/*font-family: Georgia;*/
	font-size: 12px;
	/*margin: 10px 0 0 10px;*/
	margin-top: 10px;
}
.vday {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 15.33%;
	height: 767px;
	display: inline-block;
	vertical-align: top;
	margin-right: 0px;
	/*margin-bottom: 4px;*/
}
.vday:first-child {
	border-left: 1px solid #ccc;
}
.vday_narrow {
	width: 6%;
	margin-right: 0px;
}
.vday_narrow .colhead {
	padding-bottom: 1px;
}
.vhour {
	border-bottom: 1px solid #ccc;
	height: 49px;
	display: block;
	margin: 0;
	text-align: center;
	padding-right: 4px;
	vertical-align: middle;
}
.vend {
	border-bottom: none;
}
.vsep {
	background: #aaa;
	height: 24px;
}
.vyclass {
	margin: 0;
	height: 31px;
	text-align: center;
	display: block;
	overflow: hidden;
	vertical-align: middle;
	/*border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;*/
	color: #;
}
.vyclass a {
	color: #;
	font-weight: bold;
}

.colhead {
	background: #ccccd2;
	/*border-bottom: 4px solid #ccc;*/
	height: 28px;
	padding-top: 10px;
}
.cell {
	height: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 2px 19px 2px 19px;
}