<div class="tt-resp-row">
  <div class="class-hr tt-resp-2-5">
    {{#classes}}
      <div>{{{linkOpen}}}{{stHourPr}} &mdash; {{endHourPr}}{{{linkClose}}}</div>
    {{/classes}}
  </div><!-- 
  --><div class="tt-resp-1-5">
  {{#classes}}
    <div class="niv {{{levelSlugs}}}">{{firstLevelString}}</div>
  {{/classes}}
  </div><!-- 
  --><div class="prof tt-resp-2-5">{{{teacherNm}}}</div>
</div>