<div class="tt-resp-row">
  <div class="class-hr tt-resp-2-5">
  {{{linkOpen}}}{{stHourPr}} &mdash; {{endHourPr}}{{{linkClose}}}
  </div><!-- 
  --><div class="niv tt-resp-1-5 {{levelSlugs}}">
  {{levelsString}}
  </div><!-- 
  --><div class="prof tt-resp-2-5">{{{teacherNm}}}</div>
</div>