{{#niveaux}}
    <div class="tt-tarif-table tt-resp-table">
      <div class="tt-resp-row tt-resp-tarif-rowhead">
        <div class="tt-resp-1-3 niv {{slug}}">
        {{description}} ({{duree}})
        </div><!-- 
     --><div class="tt-resp-1-3">Tarif normal</div><!-- 
     --><div class="tt-resp-1-3">Tarif réduit</div>
      </div>
      {{#tarifs}}
        {{#1trim}}{{#has_tarif}}
        <div class="tt-resp-row">
          <div class="tt-resp-1-3">
          1&nbsp;trimestre
          </div><!-- 
       --><div class="tt-resp-1-3">{{normal}}{{#has_legende}} {{{legende}}}{{/has_legende}}</div><!-- 
       --><div class="tt-resp-1-3">{{reduit}}{{#has_legende}} {{{legende}}}{{/has_legende}}</div>
      </div>
      {{/has_tarif}}{{/1trim}}
        {{#2trim}}{{#has_tarif}}
        <div class="tt-resp-row">
          <div class="tt-resp-1-3">
          2&nbsp;trimestres
          </div><!-- 
       --><div class="tt-resp-1-3">{{normal}}{{#has_legende}} {{{legende}}}{{/has_legende}}</div><!-- 
       --><div class="tt-resp-1-3">{{reduit}}{{#has_legende}} {{{legende}}}{{/has_legende}}</div>
      </div>
      {{/has_tarif}}{{/2trim}}
        {{#3trim}}{{#has_tarif}}
        <div class="tt-resp-row">
          <div class="tt-resp-1-3">
          3&nbsp;trimestres
          </div><!-- 
       --><div class="tt-resp-1-3">{{normal}}{{#has_legende}} {{{legende}}}{{/has_legende}}</div><!-- 
       --><div class="tt-resp-1-3">{{reduit}}{{#has_legende}} {{{legende}}}{{/has_legende}}</div>
      </div>
      {{/has_tarif}}{{/3trim}}
    {{/tarifs}}
  </div>
{{/niveaux}}