<table style="text-align: center; margin: 20px 0pt 10px 10px;">
<thead>
  <tr class="row">
    <th class="colhead cell" rowspan="2">Niveau de cours</th>
    <th class="colhead cell" rowspan="2">Durée</th>
    <th class="colhead cell" colspan="2">3 trimestres</th>
    <th class="colhead cell" colspan="2">2 trimestres</th>
    <th class="colhead cell" colspan="2">1 trimestre</th>
  </tr>
  <tr class="row">
    <th class="colhead cell">Tarif plein</th>
    <th class="colhead cell">Tarif réduit</th>
    <th class="colhead cell">Tarif plein</th>
    <th class="colhead cell">Tarif réduit</th>
    <th class="colhead cell">Tarif plein</th>
    <th class="colhead cell">Tarif réduit</th>
  </tr>
</thead>
<tbody>
{{#niveaux}}
  <tr class="row">
    <td class="cell {{slug}}">{{description}}</td>
    <td class="cell">{{duree}}</td>
    {{#tarifs}}
      {{#3trim}}
      <td class="cell">{{{normal}}}{{#has_legende}} {{{legende}}}{{/has_legende}}</td>
      <td class="cell">{{{reduit}}}{{#has_legende}} {{{legende}}}{{/has_legende}}</td>
      {{/3trim}}
      {{#2trim}}
      <td class="cell">{{{normal}}}{{#has_legende}} {{{legende}}}{{/has_legende}}</td>
      <td class="cell">{{{reduit}}}{{#has_legende}} {{{legende}}}{{/has_legende}}</td>
      {{/2trim}}
      {{#1trim}}
      <td class="cell">{{{normal}}}{{#has_legende}} {{{legende}}}{{/has_legende}}</td>
      <td class="cell">{{{reduit}}}{{#has_legende}} {{{legende}}}{{/has_legende}}</td>
      {{/1trim}}
    {{/tarifs}}
  </tr>
{{/niveaux}}
</tbody>
</table>